

.grid {
  --grid-spacing-vertical: 1rem;
}

.fixedbutton {
  max-width: 200px;
}

.border {
  border: 1px solid yellow;
}

.pull-right {
  text-align: right;
}

.footer-two-buttons{
  display: flex;
  justify-content: space-between;
}

.error {
  color: #b71c1c;
}